/* Importação da fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Definição das variáveis de cor e estilo */
:root {
  --background-color: #0A0A0A;                   /* Cor de fundo geral */
  --main-primary-color: #2C2C2C;                 /* Cor primária principal */
  --main-primary-color-darker: #1F1F1F;          /* Cor primária mais escura */
  --main-secondary-color: #FD7014;               /* Cor secundária principal */
  --main-secondary-color-hover: #fd7114dc;      /* Cor secundária ao passar o mouse */
  --text-color-primary: #F4F4F4;                 /* Cor principal do texto */
  --text-color-secondary: #8B8B8B;               /* Cor secundária do texto */
}

/* Estilo global do corpo da página */
body {
  padding: 24px;                                /* Espaçamento interno do corpo da página */
}
